/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 60%;
  position:relative;
  padding: 10px;
  margin: 15px auto;
  display: block;
  border: none;
  background: #f1f1f1;
      font-size: 16px;
}

::placeholder {
    color: #888888;
    opacity: 0.6;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
label{
    display: block;
    font-size: 18px;
    text-align: center;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 10px;
  margin: 30px auto;
  align-self: center;
  display: block;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 22px;
}
.container {
  padding: 12px;
    padding-top: 0px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width:800px) {
    #modal-content{
        width: 60%;
    }
}
@media screen and (max-width:400px) {
    #modal-content{
        width: 90%;
    }
}

p {
    display: block;
    text-align: center;
    font-size: 18
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}