/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 45%;
  position:relative;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
      font-size: 16px;
}

::placeholder {
    color: #888888;
    opacity: 0.6;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
label{
    display: block;
    font-size: 18px;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 9px 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.box,.msg{
    display: inline-block;
}

#semmsg,#sem
{
    display: inline-block;
}
/* Add padding to container elements */
.container {
  padding: 12px;
    padding-top: 0px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 10px;
    padding-bottom: 10px;
}


@media screen and (max-width: 450px) {
  #cancelbtn, #signupbtn {
    width:100%;
  }
}
@media screen and (max-width:700px) {
    #modal-content{
        width: 90%;
    
    }
}

option{
    font-size: 19px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0.5% auto 0.5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 55%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 13px;
}

#cancelbtn,#signupbtn
{
    display: inline-block;
}

.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
